<img class="titlePic" src="http://thumbs.dreamstime.com/thumbimg_341/1228726954blJ3If.jpg">
<h1 class="title">Recipe Docs</h1>

<!-- search -->
<div class="searchBar">
<%= form_tag recipes_search_path, :method => 'get' do %>
<p>
<%= text_field_tag :search, params[:search], :placeholder => "Hey, Check Me Out!" %>
<%= submit_tag "Search Ingredients", :name => nil %>
</p>
<% end %>
</div>



<p><%= link_to "Back to all recipes", recipes_path %></p>
<hr>
<h2>Log In:</h2><hr class="main">
<%= form_tag sessions_path do %>
  <div class="box">
    <%= label_tag "email" %><br/>
    <%= text_field_tag "email" %>
  </div>
  <div class="box">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <div><%= submit_tag "Log In" %></div>
<% end %>
<hr>
