<%= form_for @recipe do |f| %>

  <% if @recipe.errors.any? %>
    <div>
      <%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from being submitted:
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="box">
    <%= f.label "ingredients" %><br>
    <% ingredients_arr = @recipe.ingredients.map { |i| i.name } %>
    <%= f.text_field(:self_summary, :value => ingredients_arr) %>
  </div>
  
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>