<img class="titlePic" src="http://thumbs.dreamstime.com/thumbimg_341/1228726954blJ3If.jpg">
<h1 class="title">Recipe Docs</h1>

<div class="subRec"><%= link_to "Submit a recipe!", new_recipe_path %></div>
<hr class="main">
<% @recipes.each do |recipe| %>
  <%= link_to image_tag(recipe.poster_image_url), recipe_path(recipe) %>
  <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>


  <h4>Recipe: <%= recipe.directions %> | Cook Time: <%= recipe.cook_time %> minutes</h4>

  <p>Ingredients: <% recipe.ingredients.each do |ingredient| %>
  	<%= ingredient.name %>
  	<% end %> 
  </p>


    <p class="rating">Rating: <%= recipe.review_average %>/10</p>
  <hr class="main">
<% end %>


